@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* font-family: "Open Sans", sans-serif; */


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* shared style */
.text-primary {
    color: #FD6E0A;
}
.dark-2 {
    color: #474747;
}
.btn-primary {
    color: white;
    background-color: #FD6E0A;
    padding: 18px 35px 19px 36px;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    font-size: 20px;
}

/* nav styles */

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}

nav ul {
    display: flex;
    align-items: center;
}

.nav-title {
    font-size: 45px;
    font-weight: 800;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
}

nav li a {
    text-decoration: none;
    font-size: 20px;
}


